@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Onest", sans-serif;
};

img {
  transform: var(--transform, translate(0, 0) scale(1));
  transform-origin: var(--x, 50%) var(--y, 50%);
}

  @layer utilities {
    /* .container {
        @apply bg-blue-500 w-[300px] text-white font-bold py-2 px-4 rounded-full mx-auto;
      } */
  };

  .ButtonShadow{
    box-shadow: 0px 10px 48px 0px #00000028;

  }

 